
.card {
    background-color: rgb(73, 196, 230);
    margin-top: 5px;
    margin-bottom: 5px;
}

.score {
    color: rgb(166, 7, 8);
    font-size: 30px;
    margin-right: 30px;
}

#centerPane {
    width: 70%;
    margin: 0 auto;
}

.name {
    font-size: 30px;
}

.votebtn {
    margin-left: 90%;
}
